<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login/login.css">
</head>


<body>


    <div class="shadow">Welcom</div>
    <form action="/entrans" method="POST">
        <input type="text" name="userName" placeholder="نام کاربری" id="userlog">
        <input type="password" name="password" placeholder="رمز عبور" id="passlog">
        <button type="submit" value="Login" id="butlog">sing in</button>

    </form>

    <a href="http:/singup"><img src="/css/login/back-arrow.png" id="m1"></a>

    <canvas id="nokey" width="800" height="800">
        Your Browser Don't Support Canvas, Please Download Chrome ^_^``
    </canvas>


    <script src="https://code.jquery.com/jquery-3.1.1.js "></script>
    <script src="/css/login/login.js "></script>

</body>
<script>
    $(function() {
        $('form').on('submit', event => {
            event.preventDefault();
        })
    });
</script> -->

</html>