<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/css/sun.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login/login.css">
</head>


<body>


    <div class="box">

        <div class="shadow">Welcom</div>
        <input type="text" name="userName" placeholder="نام کاربری" id="userlog">
        <input type="password" name="password" placeholder="رمز عبور" id="passlog">

        <button type="submit" value="Login" id="butlog" class="bt1">sing in</button>
        <p class="err" style="color: rgb(255, 208, 0);"></p>
    </div>
    <a href="http:/singup"><img src="/css/login/back-arrow.png" id="m1"></a>

    <canvas id="nokey" width="800" height="800">
        Your Browser Don't Support Canvas, Please Download Chrome ^_^``
    </canvas>


    <script src="https://code.jquery.com/jquery-3.1.1.js "></script>
    <script src="/css/login/login.js "></script>

</body>
<script>
    let x = {
        "userName": "",
        "password": ""
    }
    $('.bt1').on('click', function() {
        x.userName = $('#userlog').val();
        x.password = $('#passlog').val();
        if (x.userName === "" || x.password === "") {
            alert("لطفا فیلد هارا پرنمایید");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/entrans",
            data: x,
            success: function(src) {
                window.location.href = "/dash";
            },

            error: function(err) {
                alert(err.responseText);

            }
        })
    });
</script> -->

</html>