<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/public/css/login/login.css">
</head>


<body>

    <div class="box">
        <div class="shadow">Wellcom</div>
        <input type="text" placeholder="Username" id="userlog">
        <input type="password" placeholder="Password" id="passlog">
        <input type="submit" value="Login" id="butlog">
    </div>
    <a href="http:/singup"><img src="/public/css/login/back-arrow.png" id="m1"></a>

    <canvas id="nokey" width="800" height="800">
        Your Browser Don't Support Canvas, Please Download Chrome ^_^``
    </canvas>


    <script src="https://code.jquery.com/jquery-3.1.1.js "></script>
    <script src="/public/css/login/login.js "></script>

</body>

</html>